<div id="layoutSidenav_nav" th:fragment="body">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">CHUNG</div>
                <a class="nav-link" href="#!/">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-pie"></i></div>
                    Tổng quan
                </a>
                <a class="nav-link" href="#!/">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-pie"></i></div>
                    Bán tại quầy
                </a>
                <div class="sb-sidenav-menu-heading">QUẢN LÝ</div>
                <!-- Quản lý nhân viên -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                   aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    Nhân viên
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link" href="#!/taikhoan">
                            Quản lý tài khoản
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseAccount" aria-expanded="false"
                           aria-controls="pagesCollapseAccount">
                            Quản lý chức năng
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseAccount" aria-labelledby="headingTwo"
                             data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="">Chức năng</a>
                                <a class="nav-link" href="">Nhóm</a>
                                <a class="nav-link" href="">Phân quyền</a>
                            </nav>
                        </div>
                    </nav>
                </div>
                <!-- Quản lý người dùng -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapsePages6" aria-expanded="false" aria-controls="collapsePages6">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Người dùng
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages6" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" >
                        <a class="nav-link collapsed" href="#!/listkhachhang"
                           data-bs-target="#pagesCollapseProductManagement" aria-expanded="false"
                           aria-controls="pagesCollapseProductManagement">
                            Danh sách người dùng
                        </a>
                        <a class="nav-link collapsed" href="#!/quanlykh"
                           data-bs-target="#pagesCollapseAttributeManagement" aria-expanded="false"
                           aria-controls="pagesCollapseAttributeManagement">
                            Quản lý người dùng
                        </a>
                    </nav>
                </div>
                <!-- Quản lý Danh mục -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapsePages2" aria-expanded="false" aria-controls="collapsePages2">
                    <div class="sb-nav-link-icon"><i class="fas fa-th-list"></i></div>
                    Danh mục
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages2" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" >
                        <a class="nav-link collapsed" href="#!/listdanhmuc"
                           data-bs-target="#pagesCollapseProductManagement" aria-expanded="false"
                           aria-controls="pagesCollapseProductManagement">
                            Sản phẩm danh mục
                        </a>
                        <a class="nav-link collapsed" href="#!/quanlydanhmuc"
                           data-bs-target="#pagesCollapseAttributeManagement" aria-expanded="false"
                           aria-controls="pagesCollapseAttributeManagement">
                            Quản lý danh mục
                        </a>
                    </nav>
                </div>
                <!-- Quản lý thương hiệu -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapsePages3" aria-expanded="false" aria-controls="collapsePages3">
                    <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                    Thương hiệu
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages3" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion">
                        <a class="nav-link collapsed" href="#!/listthuonghieu"
                           data-bs-target="#pagesCollapseProductManagement" aria-expanded="false"
                           aria-controls="pagesCollapseProductManagement">
                            Sản phẩm thương hiệu
                        </a>
                        <a class="nav-link collapsed" href="#!/quanlythuonghieu"
                           data-bs-target="#pagesCollapseAttributeManagement" aria-expanded="false"
                           aria-controls="pagesCollapseAttributeManagement">
                            Quản lý thương hiệu
                        </a>
                    </nav>
                </div>
                <!-- Quản lý thuộc tính -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapsePages4" aria-expanded="false" aria-controls="collapsePages4">
                    <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                    Thuộc tính
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages4" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" >
                        <a class="nav-link collapsed" href="#!/mausac"
                           data-bs-target="#pagesCollapseMauSac" aria-expanded="false"
                           aria-controls="pagesCollapseMauSac">
                            Quản lý màu sắc
                        </a>
                        <a class="nav-link collapsed" href="#!/chatlieu"
                           data-bs-target="#pagesCollapseChatLieu" aria-expanded="false"
                           aria-controls="pagesCollapseChatLieu">
                            Quản lý chất liệu
                        </a>
                        <a class="nav-link collapsed" href="#!/size"
                           data-bs-target="#pagesCollapseSize" aria-expanded="false"
                           aria-controls="pagesCollapseSize">
                            Quản lý size
                        </a>
                    </nav>
                </div>
                <!-- Quản lý sản phẩm -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapsePages5" aria-expanded="false" aria-controls="collapsePages5">
                    <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                    Sản phẩm
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages5" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" >
                        <a class="nav-link collapsed" href="#!/sanpham"
                           data-bs-target="#pagesCollapseProductManagement" aria-expanded="false"
                           aria-controls="pagesCollapseProductManagement">
                            Danh sách sản phẩm
                        </a>
                        <a class="nav-link collapsed" href="#!/spct"
                           data-bs-target="#pagesCollapseAttributeManagement" aria-expanded="false"
                           aria-controls="pagesCollapseAttributeManagement">
                            Quản lý sản phẩm chi tiết
                        </a>
                    </nav>
                </div>
                <!-- Quản lý đơn hàng -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapsePages7" aria-expanded="false" aria-controls="collapsePages7">
                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                    Đơn hàng
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages7" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" >
                        <a class="nav-link collapsed" href="#!/hoadoncho"
                           data-bs-target="#pagesCollapseProductManagement" aria-expanded="false"
                           aria-controls="pagesCollapseProductManagement">
                            Đang chờ duyệt
                        </a>
                        <a class="nav-link collapsed" href="#!/hoadonchovc"
                           data-bs-target="#pagesCollapseAttributeManagement" aria-expanded="false"
                           aria-controls="pagesCollapseAttributeManagement">
                            Chờ vận chuyển
                        </a>
                        <a class="nav-link collapsed" href="#!/hoadondone"
                           data-bs-target="#pagesCollapseAttributeManagement" aria-expanded="false"
                           aria-controls="pagesCollapseAttributeManagement">
                            Đã hoàn thành
                        </a>
                        <a class="nav-link collapsed" href="#!/hoadonfail"
                           data-bs-target="#pagesCollapseAttributeManagement" aria-expanded="false"
                           aria-controls="pagesCollapseAttributeManagement">
                            Đã hủy
                        </a>
                    </nav>
                </div>
                <!-- Quản lý khuyến mãi -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapsePages8" aria-expanded="false" aria-controls="collapsePages8">
                    <div class="sb-nav-link-icon"><i class="fas fa-percent"></i></div>
                    Khuyến mãi
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages8" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" >
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseProductManagement" aria-expanded="false"
                           aria-controls="pagesCollapseProductManagement">
                            Danh sách khuyến mãi
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseAttributeManagement" aria-expanded="false"
                           aria-controls="pagesCollapseAttributeManagement">
                            Quản lý khuyến mãi
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseAttributeManagement" aria-expanded="false"
                           aria-controls="pagesCollapseAttributeManagement">
                            Danh sách áp dụng
                        </a>
                    </nav>
                </div>
                <!-- Quản lý hỗ trợ -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapsePages9" aria-expanded="false" aria-controls="collapsePages9">
                    <div class="sb-nav-link-icon"><i class="fas fa-headset"></i></div>
                    Hỗ trợ
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages9" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseProductManagement" aria-expanded="false"
                           aria-controls="pagesCollapseProductManagement">
                            Đổi hàng
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseAttributeManagement" aria-expanded="false"
                           aria-controls="pagesCollapseAttributeManagement">
                            Trả hàng
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseAttributeManagement" aria-expanded="false"
                           aria-controls="pagesCollapseAttributeManagement">
                            Trả lời hỗ trợ
                        </a>
                    </nav>
                </div>
                <!-- Quản lý Blog -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapsePages10" aria-expanded="false" aria-controls="collapsePages10">
                    <div class="sb-nav-link-icon"><i class="fas fa-blog"></i></div>
                    Blog
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages10" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" >
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseProductManagement" aria-expanded="false"
                           aria-controls="pagesCollapseProductManagement">
                            Bình luận chờ
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseAttributeManagement" aria-expanded="false"
                           aria-controls="pagesCollapseAttributeManagement">
                            Danh sách bình luận
                        </a>
                    </nav>
                </div>
                <!-- Quản lý đánh giá -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapsePages11" aria-expanded="false" aria-controls="collapsePages11">
                    <div class="sb-nav-link-icon"><i class="fas fa-star"></i></div>
                    Đánh giá
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages11" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseProductManagement" aria-expanded="false"
                           aria-controls="pagesCollapseProductManagement">
                            Đánh giá chờ
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseAttributeManagement" aria-expanded="false"
                           aria-controls="pagesCollapseAttributeManagement">
                            Danh sách đánh giá
                        </a>
                    </nav>
                </div>
                <!-- Thống kê -->
                <div class="sb-sidenav-menu-heading">THỐNG KÊ</div>
                <!-- Thống kê sản phẩm -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapsePages12" aria-expanded="false" aria-controls="collapsePages12">
                    <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                    Sản phầm
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages12" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" >
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseProductManagement" aria-expanded="false"
                           aria-controls="pagesCollapseProductManagement">
                            Danh sách bán chạy
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseAttributeManagement" aria-expanded="false"
                           aria-controls="pagesCollapseAttributeManagement">
                            Danh sách tồn kho
                        </a>
                    </nav>
                </div>
                <!-- Doanh thu sản phẩm -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapsePages13" aria-expanded="false" aria-controls="collapsePages13">
                    <div class="sb-nav-link-icon"><i class="fas fa-money-bill-wave"></i></div>
                    Doanh thu
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages13" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" >
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseProductManagement" aria-expanded="false"
                           aria-controls="pagesCollapseProductManagement">
                            Danh sách doanh thu
                        </a>
                    </nav>
                </div>
                <!-- Đơn hàng sản phẩm -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapsePages14" aria-expanded="false" aria-controls="collapsePages14">
                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                    Đơn hàng
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages14" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseProductManagement" aria-expanded="false"
                           aria-controls="pagesCollapseProductManagement">
                            Danh sách đơn hàng
                        </a>
                    </nav>
                </div>
            </div>
            <br>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Đăng nhập với tư cách:</div>
            Admin Ziaza Store
        </div>
    </nav>
</div>