<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="vi-VN" dir="LTR" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Bill</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/main.js"></script>
</head>
<body>

<main>
    <div class="page_bill py-3">
        <div class="text-center" style="text-align: center" >
            <a href="/"><img src="/images/monnica.png" alt=""/></a>
        </div>
        <div class="inner_row">
            <div class="inner_col_right">
                <div class="bill_check">
                    <img src="/images/check.svg" alt=""/>
                    <p>
                        <b>Cảm ơn bạn đã đặt hàng</b>
                        Một email xác nhận đã được gửi tới phuong@gmail.com.
                        Xin vui lòng kiểm tra email của bạn.
                    </p>
                </div>
                <div class="bill_info">
                    <ul>
                        <li>Tên Khách hàng: Thanh Phuong</li>
                        <li>Email: phuong@gmail.com</li>
                        <li>SĐT: 0123456789</li>
                        <li>Địa chỉ: Hà nội</li>
                        <li>Phương thức vận chuyển: Phí vận chuyển Toàn quốc: 35,000đ</li>
                        <li>Phương thức thanh toán: Chuyển khản</li>
                    </ul>
                </div>
            </div>
            <div class="inner_col_left">
                <div class="code_bill">Mã đơn hàng <b>#898989</b> (4)</div>
                <table>
                    <tr>
                        <td>
                            <img width="50" src="/images/7.1b.webp" alt=""/>
                        </td>
                        <td>1</td>
                        <td>2,687,999đ</td>
                    </tr>
                    <tr>
                        <td>
                            <img width="50" src="/images/7.1b.webp" alt=""/>
                        </td>
                        <td>1</td>
                        <td>2,687,999đ</td>
                    </tr>
                </table>
                <ul class="bill_price">
                    <li>
                        <span>Tạm tính </span>
                        <span>22,687,000đ</span>
                    </li>
                    <li>
                        <span>Phí vận chuyển</span>
                        <span>35,000đ</span>
                    </li>
                    <li>
                        <span>Tổng cộng</span>
                        <span>22,898,000đ</span>
                    </li>
                </ul>
                <div class="bil_stt">
                    <div class="">Trạng thái đơn hàng</div>
                    <div class="flex justify-between">
                        <span>Chờ xác nhận</span>
                        <span>Ngày: 15/07/2024 - 23:03 PM</span>
                    </div>
                </div>
                <a href="/home" class="button button--primary">
                Tiếp tục mua hàng
                </a>
            </div>
        </div>
    </div>
</main>
</body>
</html>