<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="vi-VN" dir="LTR" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/main.js"></script>
</head>
<body>

<main>
    <div class="page_checkouts">
        <div class="inner_row">
            <div class="inner_col_right">
                <a href="/"><img src="/images/monnica.png" alt=""/></a>
                <h2 class="text-2xl font-bold my-3">Thông tin giao hàng</h2>
                <form action="">
                    <input type="text" name="" placeholder="Họ và tên" class="form-field "/>
                    <div class="flex -mx-2">
                        <div class="w-6/12 px-2">
                            <input type="email" name="" placeholder="Email" class="form-field "/>
                        </div>
                        <div class="w-6/12 px-2">
                            <input type="text" name="" placeholder="Số điện thoại" class="form-field "/>
                        </div>
                    </div>
                    <div class="flex -mx-2">
                        <div class="w-6/12 px-2">
                            <input type="text" name="" placeholder="Quốc gia" class="form-field "/>
                        </div>
                        <div class="w-6/12 px-2">
                            <input type="text" name="" placeholder="Tỉnh / TP" class="form-field "/>
                        </div>
                    </div>
                    <div class="flex -mx-2">
                        <div class="w-6/12 px-2">
                            <input type="text" name="" placeholder="Huyện / Quận" class="form-field "/>
                        </div>
                        <div class="w-6/12 px-2">
                            <input type="text" name="" placeholder="Phường / Xã" class="form-field "/>
                        </div>
                    </div>
                    <input type="text" name="" placeholder="Địa chỉ chi tiết : Số 22, Ngõ 222, Di Trạch, Hoài Đức" class="form-field "/>
                    <textarea name="" placeholder="Ghi chú" rows="3"  class="form-field "></textarea>
                    <div class="check_custom mb-3">
                        <input type="checkbox" id="remember" class="styled-checkbox"/>
                        <label for="remember">Yêu cầu hóa đơn</label>
                    </div>
                    <div class="row_btn">
                        <a href="/cart" class="button button--secondary">
                        <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                              strokeWidth="1.5" stroke="currentColor" class="size-6 mr-3">
                            <path strokeLinecap="round" strokeLinejoin="round"
                                  d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
                        </svg>
                        Giỏ hàng
                        </a>
                        <a href="payment" class="button button--primary">
                        Tiếp tục
                        </a>
                    </div>
                </form>
            </div>
            <div class="inner_col_left">
                <div class="cart_info_bg_bg">
                    <div class="CartDrawer_item">
                        <a href="" class="CartDrawer_thumb">
                        <img src="/images/7.1b.webp" alt=""/>
                        </a>
                        <div class="CartDrawer_item_info">
                            <h3>
                                Áo măng tô
                            </h3>
                            <span>Số lượng: 2</span>
                            <div>1,699,999đ</div>
                        </div>
                    </div>
                    <div class="CartDrawer_item">
                        <a href="" class="CartDrawer_thumb">
                        <img src="/images/7.1b.webp" alt=""/>
                        </a>
                        <div class="CartDrawer_item_info">
                            <h3>
                                Áo măng tô
                            </h3>
                            <span>Số lượng: 2</span>
                            <div>1,699,999đ</div>
                        </div>
                    </div>
                    <div class="flex -mx-2">
                        <div class="w-9/12 px-2">
                            <input type="text" name="" placeholder="Mã miễn phí vận chuyển" class="form-field mb-0"/>
                        </div>
                        <div class="w-3/12 px-2">
                            <button class="button button--secondary mb-0" style="height: 45px">Apply</button>
                        </div>
                    </div>
                    <div class="CartDrawer_footer">
                        <div class="CartDrawer_total">
                            <span>Thành tiền</span>
                            <b>2,787,787đ</b>
                        </div>
                        <div class="CartDrawer_total">
                            <span>Phí vận chuyển</span>
                            <b>50.000đ</b>
                        </div>
                        <div class="CartDrawer_total_bot">
                            <span>Tổng tiền</span>
                            <b>50.000đ</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>