<div class="container-fluid px-4">
  <h2 class="mt-4">Thêm mới danh mục sản phẩm</h2><br>
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="row">
      <div class="col-md-12 mt-2">
        <label for="inputIDCha" class="form-label">ID Cha</label>
        <input type="text" class="form-control" id="inputIDCha" ng-model="form.idCha">
        <span class="text-danger" ng-show="error.idCha">Vui lòng nhập ID Cha.</span>
      </div>
      <div class="col-md-12 mt-2">
        <label for="inputTen" class="form-label">Tên danh mục</label>
        <input type="text" class="form-control" id="inputTen" ng-model="form.ten">
        <span class="text-danger" ng-show="error.ten">Tên danh mục phải từ 1 đến 100 ký tự.</span>
      </div>
      <div class="col-md-12 mt-2">
        <label for="inputMoTa" class="form-label">Mô tả</label>
        <input type="text" class="form-control" id="inputMoTa" ng-model="form.mo_ta">
        <span class="text-danger" ng-show="error.mo_ta">Mô tả phải từ 1 đến 100 ký tự.</span>
      </div>
      <div class="form-group col-md-12 mt-2">
        <label>Trạng thái</label>
        <div class="mt-2">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="trangThai" ng-model="form.trangThai" value="1" checked>
            <label class="form-check-label">Active</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="trangThai" ng-model="form.trangThai" value="0">
            <label class="form-check-label">Locked</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="trangThai" ng-model="form.trangThai" value="2">
            <label class="form-check-label">Khác</label>
          </div>
        </div>
        <span class="text-danger" ng-show="error.trangThai">Vui lòng chọn trạng thái.</span>
      </div>
      <div class="col-md-6 mt-2" style="display: none;">
        <label for="inputNgayTao" class="form-label">Ngày tạo</label>
        <input type="date" class="form-control" id="inputNgayTao" ng-model="form.ngayTao" readonly>
      </div>
      <div class="col-md-6 mt-2" style="display: none;">
        <label for="inputNgayCapNhat" class="form-label">Ngày cập nhật</label>
        <input type="date" class="form-control" id="inputNgayCapNhat" ng-model="form.ngayCapNhat" readonly>
      </div>
      <div class="col-md-6 mt-2" style="display: none;">
        <label for="inputNguoiTao" class="form-label">Người tạo</label>
        <input type="text" class="form-control" id="inputNguoiTao" ng-model="form.nguoiTao" readonly>
      </div>
      <div class="col-md-6 mt-2" style="display: none;">
        <label for="inputNguoiCapNhat" class="form-label">Người cập nhật</label>
        <input type="text" class="form-control" id="inputNguoiCapNhat" ng-model="form.nguoiCapNhat" readonly>
      </div>
    </div>
  </div>
  <div class="card-footer text-center mt-4">
    <div class="btn-group" style="width: 30%;">
      <button class="btn btn-success" style="flex: 1; margin-right: 5px;" ng-click="create()">
        <i class="fas fa-plus"></i> Thêm mới
      </button>
      <button type="button" class="btn btn-secondary" style="flex: 1; margin-left: 5px;" ng-click="reset()">
        <i class="fas fa-redo"></i> Reset
      </button>
    </div>
  </div>
  <br><br>
</div>
