<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Đăng ký</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-9">
                <div class="text-center my-5">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Gucci_Logo.svg/936px-Gucci_Logo.svg.png" alt="logo" width="400">
                </div>
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Đăng ký</h1>

                        <form method="POST" class="needs-validation" autocomplete="off">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="mb-2 text-muted" for="name">Tên</label>
                                    <input id="name" type="text" class="form-control" name="name" placeholder="Nhập tên của bạn" required autofocus>
                                    <div class="invalid-feedback">Tên là bắt buộc</div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label class="mb-2 text-muted" for="email">Địa chỉ E-Mail</label>
                                    <input id="email" type="email" class="form-control" name="email" placeholder="Nhập email của bạn" required>
                                    <div class="invalid-feedback">Email không hợp lệ</div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label class="mb-2 text-muted" for="phone">Số điện thoại</label>
                                    <input id="phone" type="text" class="form-control" name="phone" pattern="^[0-9]{10,20}$" placeholder="Nhập số điện thoại" required>
                                    <div class="invalid-feedback">Số điện thoại không hợp lệ. Nó nên có từ 10 đến 20 chữ số.</div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label class="mb-2 text-muted" for="password">Mật khẩu</label>
                                    <input id="password" type="password" class="form-control" name="password" placeholder="Nhập mật khẩu" required>
                                    <div class="invalid-feedback">Mật khẩu là bắt buộc</div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label class="mb-2 text-muted" for="retypePassword">Nhập lại mật khẩu</label>
                                    <input id="retypePassword" type="password" class="form-control" name="retypePassword" placeholder="Nhập lại mật khẩu" required>
                                    <div class="invalid-feedback">Vui lòng nhập lại mật khẩu</div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label class="mb-2 text-muted" for="ngaySinh">Ngày sinh</label>
                                    <input id="ngaySinh" type="date" class="form-control" name="ngaySinh">
                                </div>
                            </div>

                            <p class="form-text text-muted mb-3">Bằng cách đăng ký, bạn đồng ý với các điều khoản và điều kiện của chúng tôi.</p>

                            <div class="d-flex justify-content-center mb-3">
                                <button type="button" class="btn btn-primary me-2" id="registerButton">Đăng ký</button>
                                <button type="button" class="btn btn-secondary" onclick="location.href='/v1/auth/login'">Đăng nhập</button>
                            </div>

                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">Bạn đã có tài khoản? <a href="/v1/auth/login" style="color: blue;">Đăng nhập</a></div>
                    </div>
                </div>
                <div class="text-center mt-5 text-light py-3">Copyright &copy; 2020-2024 &mdash; By Hoang Khong Team</div>
            </div>
        </div>
    </div>
</section>

<div id="message" class="text-center mb-3"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#registerButton').click(function() {
            // Lấy đối tượng form
            const form = $('form')[0];

            // Kiểm tra tính hợp lệ của form
            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }

            // lấy dữ liệu
            const registerData = {
                name: $('#name').val(),
                email: $('#email').val(),
                phone: $('#phone').val(),
                password: $('#password').val(),
                retypePassword: $('#retypePassword').val(),
                ngaySinh: $('#ngaySinh').val()
            };

            $.ajax({
                url: '/register',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(registerData),
                success: function(response) {
                    $('#message').html('<div class="alert alert-success">Đăng ký thành công!</div>');
                    form.reset(); // Reset form
                    hideMessageAfterDelay();
                    setTimeout(function() {
                        window.location.href = '/v1/auth/login';
                    }, 1000);
                },
                error: function(jqXHR) {
                    if (jqXHR.status === 400) {
                        $('#message').html('<div class="alert alert-danger">Dữ liệu không hợp lệ hoặc đã tồn tại!</div>');
                    } else {
                        $('#message').html('<div class="alert alert-danger">Có lỗi xảy ra! Vui lòng thử lại.</div>');
                    }
                    hideMessageAfterDelay();
                }
            });
        });

        function hideMessageAfterDelay() {
            setTimeout(function() {
                $('#message').fadeOut('slow', function() {
                    $(this).empty().show();
                });
            }, 2222);
        }
    });
</script>

</body>
</html>
